// custom scrollbar
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #242526;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b0b3b8; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

// Set Fonts
@font-face {
    font-family: Gilroy;
    src: url("../font/Gilroy-Light.otf") format("truetype") font-weight-normal
         url("../font/Gilroy-Bold.otf") format("truetype") font-weight-bold;
  }


* {
    font-family: Gilroy;
    font-weight: normal;
}

input {
  all: unset;
}


// Set doc Layout
a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #18191a;
}

.App {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.LayoutLeft {
  position: relative !important;
  display: flex;
  align-items: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  width: 20%;
  margin: 0;
  background-color: #242526;
}

// Right Side
.LayoutRight {
    position: relative;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
}

.SearchField {
  height: 100%;
  width: 100%;
  color: #b0b3b8;
  font-size: 18px;
  padding-left: 5%;
  border: none;
  border-radius: 50px;
  background-color: #494a4b;
}

input:focus {
  border: 2px solid #4599ff;
}