

// Shoe Card Con
.ShoeCon {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

// Main Card Container
.cardCon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    height: 420px;
    width: 320px;
    background-color: rgb(253, 253, 253);
    background-color: #242526;
    border-radius: 45px;
    margin: 20px;
    overflow: hidden;
    transition: 0.1s ease-in-out;
}

// Main Card Hover
.cardCon:hover {
    cursor: pointer;
    transform: scale(1.05);
    

    .imgCon{
        transform: scale(1.05);
        border-radius: 30px 30px 25px 25px; 
    }
    // .Logo {
    //     top: 4%;
    //     left: 5%;
    //     transform: scale(1.2);
    // }

    // .SexMale {
    //     top: 4%;
    //     left: 80%;
    //     transform: scale(1.1);
    // }
}


// Card Img
.CardImg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 65%;
    width: 100%;
    padding: 5%;
    overflow: hidden;
}

.imgCon {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    background-color: #E9E9E9;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: 0.3s ease-in-out;
    }
}

.Logo {
    position: absolute;
    top: 5%;
    left: 7%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 5;
    transition: 0.2s ease-in;
}

.SexMale {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 78%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 5;
    transition: 0.2s ease-in;   

    img{
        height: 60%;
        width: 60%;
        object-fit: contain;
        margin: 0;
    }
}



// Card Bottom Information
.CardDesc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
    margin-top: -20px;
    color: #b0b3b8;

    // Brand Text
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
    }

    // Description Text
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0 5%;
        font-size: 12px;

        // Price Text
        span {
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 1.5px;
            color: #f02849;
        }
    }
}